<h2>Loveworld Strasbourg vous invite à découvrir ses différents clubs de lecture.</h2>

  <h3>Club Adulte</h3>
  <p>Les mardis 16h - 17h30</p>
  <p>Les jeudis 16h30 - 18h</p>

  <h3>Teevo Club pour Ados</h3>
  <p>Les samedis 15h30 - 17h</p>

  <h3>Clubs Jeunes Lecteurs</h3>
  <p>Avec goûter les mercredis 15h - 17h</p>

  <h3>Lieu</h3>
  <p>Locaux Loveworld Strasbourg, rue des acacias, Pfulgrisheim 67370</p>

  <h3>Ce <%= link_to " FORMULAIRE", new_inscription_path %> nous aidera à vous assignez<br> 
  surplace  dans un de nos clubs de lecture</h3>