
<p class="main-text">Loveworld Strasbourg vous invite à découvrir ses différents clubs de lecture.</p>

<div class="home">
<div class="club-adulte">
  <h1>Club Adulte</h1>
  <p class="text">Les mardis 16h - 17h30</p>
  <p class="text">Les jeudis 16h30 - 18h</p></div>

<div class="club-ado">
  <h1>Teevo Club pour Ados</h1>
  <p class="text">Les samedis 15h30 - 17h</p>
</div>

<div class="club-jeunes">
  <h1>Club Jeunes Lecteurs</h1>
  
  <p class="text">Avec goûter les mercredis 15h - 17h</p>

</div>

<div class="lieu">
  <h1>Lieu</h1>
  <p class="text">Local Loveworld Strasbourg, rue des Acacias, Pfulgrisheim 67370</p>
</div>

<div class="container-formulaire">
  <p>Ce <%= link_to " FORMULAIRE", new_inscription_path %> nous aidera à vous assignez<br> 
  surplace  dans un de nos clubs de lecture cités ci-dessus</p></div>

</div>