
<h2>Loveworld Strasbourg vous invite à découvrir ses différents clubs de lecture.</h2>

<div class="home">
<div class="club-adulte">
  <h3>Club Adulte</h3>
  <p>Les mardis 16h - 17h30</p>
  <p>Les jeudis 16h30 - 18h</p></div>

<div class="club-abdo">
  <h3>Teevo Club pour Ados</h3>
  <p>Les samedis 15h30 - 17h</p></div>

<div class="club-abdo">
  <h3>Club Jeunes Lecteurs</h3>
  <p>Avec goûter les mercredis 15h - 17h</p></div>

<div class="lieu">
  <h3>Lieu</h3>
  <p>Local Loveworld Strasbourg, rue des Acacias, Pfulgrisheim 67370</p></div>

<div class="container-formulaire">
  <p>Ce <%= link_to " FORMULAIRE", new_inscription_path %> nous aidera à vous assignez<br> 
  surplace  dans un de nos clubs de lecture</p></div>

</div>