<h1 class="titre_formulaire">Formulaire  d'inscription</h1>

<%= render "form", inscription: @inscription %>

<br>

<div class="back-to-inscriptions">
  <%= link_to "Voir les inscriptions", inscriptions_path %>
  </div>
  <br>
  <div class="back-to-home">
  <%= link_to "Retour à l'accueil", root_path %>
</div>
